<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emmanuel.kiosco.mapper.ProductoMapper">
    <select id="listaProductos" resultType="com.emmanuel.kiosco.model.entity.Producto">
       SELECT *
            from db_semilla.productos
    </select>

    <select id="listaProveedores" resultType="com.emmanuel.kiosco.model.entity.Proveedor">
       SELECT *
            from db_semilla.proveedores
    </select>

</mapper>
